{% extends "layout.html" %}


{% block header %}
    <header class="header__top">
        <div class="container">
            <div class="header__top-item">
                <div class="header__top-inner">
                    <div class="social__links">
                        <a href="https://www.facebook.com/bikeland.uz/" class="social__links-item">
                            <div>
                                <img src="../static/images/header__icon/facebook.png" alt="facebook">
                            </div>
                        </a>
                        <a href="https://www.instagram.com/" class="social__links-item">
                            <div>
                                <img src="../static/images/header__icon/instagram.png" alt="instagram">
                            </div>
                        </a>
                        <a href="https://www.youtube.com/bikelanduz" class="social__links-item">
                            <div>
                                <img src="../static/images/header__icon/youtube.png" alt="youtube">
                            </div>
                        </a>
                        <a href="https://t.me/BikelandUz_bot" class="social__links-item">
                            <div>
                                <img src="../static/images/header__icon/telegram.png" alt="telegram">
                            </div>
                        </a>
                    </div>
                    <div class="search__input">
                        <div class="search__input-wrapper">
                            <div class="icon">
                                <svg fill="none" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" x="0" y="0">
                                    <g id="Group_2" xmlns="http://www.w3.org/2000/svg">
                                        <path id="Vector_16"
                                              d="M5.83345,5.74315c-0.999,1 -1.792,2.186 -2.333,3.492c-0.541,1.305 -0.819,2.705 -0.819,4.118c0,1.414 0.278,2.813 0.819,4.119c0.541,1.305 1.334,2.492 2.333,3.491c0.999,0.999 2.186,1.792 3.492,2.333c1.305,0.541 2.705,0.819 4.118,0.819c1.413,0 2.813,-0.278 4.118,-0.819c1.306,-0.541 2.493,-1.334 3.492,-2.333c1.96,-2.029 3.045,-4.748 3.02,-7.569c-0.024,-2.821 -1.156,-5.52 -3.151,-7.515c-1.995,-1.995 -4.694,-3.127 -7.516,-3.152c-2.821,-0.024 -5.539,1.06 -7.569,3.021zM19.52945,19.43915c-0.796,0.814 -1.746,1.462 -2.794,1.907c-1.048,0.444 -2.174,0.676 -3.313,0.683c-1.138,0.006 -2.267,-0.214 -3.32,-0.647c-1.053,-0.433 -2.01,-1.07 -2.815,-1.875c-0.805,-0.805 -1.442,-1.762 -1.875,-2.815c-0.432,-1.054 -0.652,-2.182 -0.645,-3.321c0.006,-1.138 0.238,-2.264 0.683,-3.312c0.445,-1.049 1.093,-1.998 1.907,-2.794c1.62,-1.585 3.8,-2.466 6.067,-2.453c2.266,0.013 4.436,0.919 6.039,2.522c1.602,1.602 2.508,3.772 2.52,6.039c0.013,2.266 -0.869,4.446 -2.454,6.066z"
                                              fill="black" fill-rule="evenodd"></path>
                                        <path id="Vector_17"
                                              d="M19.52945,22.52815c-0.403,-0.404 -0.63,-0.952 -0.63,-1.523c0,-0.57 0.227,-1.118 0.631,-1.521c0.404,-0.404 0.952,-0.631 1.523,-0.63c0.57,0 1.118,0.227 1.521,0.631l6.087,6.088c0.205,0.199 0.369,0.436 0.482,0.699c0.113,0.262 0.172,0.545 0.175,0.83c0.002,0.286 -0.052,0.569 -0.161,0.834c-0.108,0.264 -0.268,0.505 -0.47,0.707c-0.202,0.202 -0.442,0.362 -0.707,0.47c-0.264,0.108 -0.547,0.163 -0.833,0.16c-0.286,-0.002 -0.568,-0.062 -0.831,-0.175c-0.262,-0.112 -0.5,-0.276 -0.698,-0.482z"
                                              fill="black"></path>
                                    </g>
                                </svg>
                            </div>
                            <input type="text" placeholder="Искать на сайте" value="">
                        </div>
                    </div>
                </div>
                <a href="/" class="header__logo">
                <span class="header__logo-item">
                    <img class="logo__img" src="../static/images/logo/logo.svg" alt="logo">
                </span>
                </a>
                <div class="header__call">
                    <div class="header__call-inner">
                        <a class="header__call-button" href="tel:+998936216001">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                 class="_icon_qgvcu_27" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                            </svg>
                            <span>консультант на связи 24/7</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}