{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIKELAND</title>

    <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>
<body>
<div class="layout">
    {#Header#}
    {% block header %}
    {% endblock %}
    {% block headerBottom %}
    {% endblock %}
    {#/Header#}
    {#Main#}
    <div class="main">
        <div class="main__home">
            <section class="main__confidence">
                <div class="container">
                    <div class="main__confidence-inner">
                        {% for el in mainConfidence %}
                            <div class="main__confidence-inner__item">
                            <span>
                                <img src="{{ el.img }}" alt="">
                            </span>
                                <p class="main__confidence-title">{{ el.title }}</p>
                                <p class="main__confidence-subtitle"><span>{{ el.mainSubtitle }}</span> {{ el.subtitle }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
    {#/Main#}
</div>
</body>
</html>